@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --bg_primary_color: #000000;
    --bg_secondary_color: #222222;
    --btn_color: #E6533C;
    --title_text_color: #ffffff;
    --describing_text_color: #8a8a8a;
  }

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--bg_primary_color);
}

h1{
    color: white;
}

p{
    color: white;
}
/*============= nevbar start =============*/
nav{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    width: 80%;
}
.logo a {
    color: var(--btn_color);
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: bolder;
    font-style: italic;
}
.nav_links {
    display: flex;
    list-style: none;
    text-align: center;
    gap: 47px;
    border: 1px solid #2f2f2f;
    padding: 10px 2px 10px 2px;
    border-radius: 46px;
}
.nav_links a {
    color: var(--title_text_color);
    text-decoration: none;
    font-size: 18px;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
}
.home_btn{
    background-color: var(--btn_color);
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
}
.nav_links a:hover {
    background-color: var(--btn_color);
    transition: 0.3s ease-out;
}
.icon_bars > i{
    display: none !important;
}
/*============= nevbar end =============*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*============= Header start =============*/
header{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.get_body_section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 215px;
    margin-top: 50px;
    position: relative;
    background-blend-mode: screen;
    background: radial-gradient(rgb(37, 37, 37), rgb(0, 0, 0));
}
.header_content{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 30%;
    margin-right: 0px;
    margin-top: 60px;

}
.header_content > h1{
    font-size: 75px;
}
.header_content > p{
    font-size: 16px;
    color: var(--describing_text_color);
    line-height: 1.5rem;
}
.join_club_btn, .Download_btn{
    font-size: 18px;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: var(--btn_color);
    border: none;
    color: var(--title_text_color);
}
.Download_btn{
    background-color: transparent !important;
    border: 1px solid #ffffff;
    margin-left: 10px;
}
.header_bgimg_section > img{
    margin-right: 0px;
}
.h_500{
    position: absolute;
    left: 75%;
    top: 20%;
    background-color: rgb(17, 101, 174);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 18px;
    background-color: #cccbcb6d;

    
}
.h_500 > h1{
    font-size: 40px;
    color: var(--title_text_color);
}
.h_500 > span{
    font-size: 16px;
    color: var(--describing_text_color);
}
.h_350{
    position: absolute;
    left: 56%;
    top: 60%;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 12px;

    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.circle{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 100%;
}
.h_350 h1{
    font-size: 24px;   
}
.h_350 span{
    font-size: 1rem;
    color: var(--describing_text_color);
}
/*============= Header end =============*/
